<h1>Articles Index</h1>

<p>Num articles <%= @articles.length %></p>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |article| %>
            <tr>
                <td><%= article.title %></td></td>
                <td><%= article.description %></td>
                <td>Placeholder</td>
            </tr>
        <% end %>
    </tbody>
</table>